<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/main">
            <img width="50px" height="50px"  src="assets/logo.png" alt="">
  
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" *ngIf="session_set" routerLink="/main">Welcome, {{ username}}</a>
        </li>
        <li class="nav-item active">
          <img src="assets/home.svg" style="height:32px; width: 32px;">
      </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/main">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <img src="assets/cake.svg" style="height:30px; width: 30px;">
      </li>
        
        <li class="nav-item active">
          <a class="nav-link" *ngIf="session_set" routerLink="/myorders">My Orders</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/mycart">Cart</a>
        </li>
        <li class="nav-item active">
          <img src="assets/shield.svg" *ngIf="!session_set" style="height:42px; width: 32px;">
      </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!session_set" routerLink="/login">Login</a>
        </li>
        <li class="nav-item active">
          <img src="assets/login.svg" style="height:30px; width: 30px; margin-top: 6px;">
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!session_set" routerLink="/register">Signup</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="session_set" (click)="logout()">Logout </a>
        </li>
       
       
      </ul>
      
    </div>
  </nav>
